<div class="main">
    <div class="form">
      <img class="logo" src="/assets/logo.svg" alt="logo">
      <form id="inscriptionForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()" data-dashlane-rid="c5f7437203c5b13e" data-form-type="other">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1" >Nom</span>
          <input type="text" class="form-control" formControlName="lastName"  placeholder="Nom" aria-label="Nom" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">Prénom</span>
          <input type="text" class="form-control" formControlName="firstName"  placeholder="Prénom" aria-label="Prénom" aria-describedby="basic-addon1">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
          <input type="email" class="form-control" formControlName="email" aria-describedby="emailHelp" data-dashlane-rid="3595e20e0bf1cae7" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1714232237724-0">
          <div id="emailHelp" class="form-text">Nous ne partageons pas vos données.</div>
        </div>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
          <input type="password" class="form-control" formControlName="password" data-dashlane-rid="574ad49ab5066a33" data-form-type="password" data-kwimpalastatus="alive" data-kwimpalaid="1714232237724-1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword2" class="form-label">Répétez votre mot de passe</label>
          <input type="password" class="form-control" formControlName="repeatPassword" data-dashlane-rid="574ad49ab5066a33" data-form-type="password" data-kwimpalastatus="alive" data-kwimpalaid="1714232237724-1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" formControlName="confirmConditions" data-dashlane-rid="9e8ccf85fe20bc10" data-form-type="other">
          <label class="form-check-label" for="exampleCheck1">Conditions d'uilisation</label>
        </div>
        <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary" data-dashlane-rid="933b89cfb69625c1" data-form-type="action" data-dashlane-label="true">S'enregistrer</button>
      </form>
      <!-- <a class="inscription" href="http://localhost:4200/connexion">Connexion</a> -->
    </div>
  </div>
  