<app-header></app-header>
<div class="main">
<div class="form">
    <form [formGroup]="formGroup" data-dashlane-rid="c5f7437203c5b13e" data-form-type="other" (ngSubmit)="onSubmit()">

        <div class="mb-3">
            <label   class="form-label">Prénom</label>
            <input id="firstName" type="firstName" class="form-control" formControlName="firstName">
        </div>

        <div class="mb-3">
            <label   class="form-label">Nom</label>
            <input id="lastName" type="lastName" class="form-control" formControlName="lastName">
          </div>

        <div class="mb-3">
          <label   class="form-label">Adresse Email</label>
          <input id="email" type="email" required="true" class="form-control" formControlName="email" aria-describedby="emailHelp" data-form-type="email" data-kwimpalastatus="alive">
        </div>

          <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary" *ngIf="modifying">Enregistrer</button>
        
        
      </form>
     
        <button  class="btn btn-primary" (click)="modify()" *ngIf="!modifying" >Modifier</button>
        <button class="btn btn-primary"  (click)="modifyPassword()" *ngIf="modifying">Modifier le mot de passe</button>
      
      <button  class="btn btn-primary" (click)="logOut()" *ngIf="!modifying">Se déconnecter</button>
     
</div>
</div>
<app-footer></app-footer>

