<p-card class="i">
    <p-toast></p-toast>
    <h4>Informations du chantier</h4>
    <div class="card flex justify-content-center">
        <input placeholder="Nom du chantier" type="text" [ngModel]='nom' pInputText />
    </div>
        <p-floatLabel class="form">
            <p-dropdown
                [editable]="true"
                [options]="CityList" 
                [(ngModel)]="SelectedCity"
                />
                <label>Commune</label>
        </p-floatLabel>
    <br>
    <h4>Données du chantier</h4>
    <!-- Nappe -->
    <div class="nappe">
    <p-inputNumber 
    [(ngModel)]="value" 
    type="decimal"
    placeholder="Nappe"
    inputId="mètres"
    [minFractionDigits]="2"
    suffix=" m" />
</div>
<br>
    <!-- Intervalle -->
    <div class="intervalle">
    <p-inputNumber 
    [(ngModel)]="value2" 
    mode="decimal" 
    [showButtons]="true" 
    inputId="minmax-buttons" 
    placeholder="Intervalle"
    step="0.01"
    [min]="0.01" 
    [max]="100"
    suffix="m" /> 

    <p-button label="0.25" [rounded]="true" severity="primary" (click)="updateValue(valueDefault1)"></p-button>
    
    <p-button label="0.20" [rounded]="true" severity="primary" (click)="updateValue(valueDefault2)"></p-button>

    </div>
    
    <br>
    <!-- date -->

        <p-floatLabel>
            <p-calendar 
                [(ngModel)]="date" 
                inputId="birth_date" />
            <label for="birth_date">Date de l'étude</label>
        </p-floatLabel>
        <br>
        <button (click)="onClick()" class="btn btn-primary" data-dashlane-rid="933b89cfb69625c1" data-form-type="action" data-dashlane-label="true">Enregistrer</button>

</p-card>