<app-header></app-header>
<div class="main">
    <div class="form">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label   class="form-label">Nouveau mot de passe</label>
        <input id="password" type="password" class="form-control" formControlName="password" oncopy="return false;" oncut="return false;">
    </div>
    <div class="mb-3">
        <label   class="form-label">Veuillez répéter ce mot de passe</label>
        <input id="repeatPassword" type="password" class="form-control" formControlName="repeatPassword">
    </div>
    <button [disabled]="formGroup.invalid" type="submit" class="btn btn-primary">Enregistrer</button>
</form>
</div>
</div>
<app-footer></app-footer>
