<nav class="nav"> 
    <div class="start">
        <div class="logo">
            <a href ="http://localhost:4200/"><img src="../assets/logo.svg" alt="logo" srcset="../assets/logo.svg"></a>
        </div>
    </div>
    <!-- end Start -->
    <div class="center">
        <div class="search">
            <p-iconField iconPosition="left">
                <p-inputIcon styleClass="pi pi-search" />
                <input class="search_field" type="text" pInputText placeholder="Search" />
            </p-iconField>
        </div>
    </div>
    <!-- end center -->
    <div class="end"> 
        <div class="settings">
            <i routerLink="/setings" class="pi pi-ellipsis-v"></i>
        </div>
        <div class="profile">
            <p-avatar label="V" styleClass="mr-2" size="large" [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"></p-avatar>
        </div>

    </div>
    
</nav>
