

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="logo" href="http://localhost:4200/"><img src="/assets/logo.svg" alt="Logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tableau de bord</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/settings">Paramètres</a>
          </li>
        </ul>

      <p-dropdown 
        [options]="sites"
        [(ngModel)]="selectedSite"
        optionLabel="nom"
        [filter]="true"
        filterBy="nom" 
        [showClear]="true"
        placeholder="Selectionner un site">
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div  class="search">
              <div>{{ selectedOption.nom }}</div>
          </div>
        </ng-template>
        <ng-template let-site pTemplate="item">
          <div class="search">
              <div>{{ site.nom }}</div>
          </div>
        </ng-template>
      </p-dropdown>
      </div>
    </div>
  </nav>
