<div class="main">
  
    <div class="form">
      <img class="logo" src="../../assets/Logo.svg" alt="logo" srcset="../../assets/Logo.svg">
  
      <form data-dashlane-rid="c5f7437203c5b13e" data-form-type="other">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" data-dashlane-rid="3595e20e0bf1cae7" data-form-type="email" data-kwimpalastatus="alive" data-kwimpalaid="1714232237724-0">
            <div id="emailHelp" class="form-text">Nous ne partageons pas vos données.</div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1" data-dashlane-rid="574ad49ab5066a33" data-form-type="password" data-kwimpalastatus="alive" data-kwimpalaid="1714232237724-1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" data-dashlane-rid="9e8ccf85fe20bc10" data-form-type="other">
            <label class="form-check-label" for="exampleCheck1">Cochez-moi</label>
          </div>
          <button type="submit" class="btn btn-primary" data-dashlane-rid="933b89cfb69625c1" data-form-type="action" data-dashlane-label="true">Se connecter</button>
        </form>
        <a class="inscription" href="#">Inscription</a>
  
    </div>
  
  </div>