$color-blue: #1F223A;
$color-orange: #F77503;
$color-lightgrey: #ededed;
$color-darkgrey: #282828;
@import "primeicons/primeicons.css";
*{
    display: block;
}
.left{
    display:flex;
    flex-direction:column;
    align-content: stretch;

}
.main{
    display:flex;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;        
    height: 70%;
}
.table{
    width: 100%;
    min-width: 300px;
    height:fit-content;
    background-color:$color-lightgrey ;
    border-radius: 24px;
    margin:10px;
    margin-top: 20vh;
    padding: 16px
}
.graphe{
    margin-top: 20vh;
    width:auto;
    min-width: 300px;
}
.p-button{
background-color : #F77503;
border:#F77503;
}