$color-blue: #1F223A;
$color-orange: #F77503;
$color-lightgrey: #dadada;
$color-darkgrey: #282828;
@import "primeicons/primeicons.css";
*{
    box-sizing: border-box;
}
.main{
    display:flex;
    flex-direction: row;
    height: 70%;
    width:100vw;
}
.inputs{
    width: 25vw;
    height:100%;
    background-color:$color-lightgrey ;
    border-radius: 24px;
    margin:10px;
}
.card{
    height:100%;
    width:80%;
    background-color:$color-lightgrey ;
    border-radius: 24px;
    margin:10px
}