$color-blue: #1F223A;
$color-orange: #F77503;
$color-lightgrey: #ededed;
$color-darkgrey: #282828;
@import "primeicons/primeicons.css";
*{
    display: block;
    justify-content: center ;
}
.main{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;        
    height: 70%;
    width:80vw;    
}
.table{
    width: 35vw;
    min-width: 300px;
    height:100%;
    background-color:$color-lightgrey ;
    border-radius: 24px;
    margin:10px;
    margin-top: 20vh;
    padding: 16px
}
.graphe{
    margin-top: 20vh;
    width:100vw;
}
.p-button{
background-color : #F77503;
border:#F77503;
}