<app-header></app-header>

   
    <div class="main">
        
        <div class="dash">
        
                <div class="table_left">  
                    <h3 class="title" id="editableTitle" contenteditable="true">Double cliquez pour modifier le nom du projet</h3>       
                    <p-card class="tabledash" header="Importation de données">
                        <DragdropComponent></DragdropComponent>
                    </p-card>
                    <p-card class="tabledash" header="Tableau">
                        <TableComponent></TableComponent>   
                    </p-card>
                </div> 
                <script src="script.ts"></script>

                <div class="table_right">
                    <p-card>
                        <h4>Informations du chantier</h4>
                        <app-worksite></app-worksite>
                        
                    </p-card>
                    <p-card class="graphe">
                        <GraphicComponent class="graphmodule"></GraphicComponent>
                </p-card>
                </div>
            
            
            
        </div>
    </div>
    
    

<app-footer></app-footer>