<app-header></app-header>

    <div class="main">
        
        <div class="dash">
        
                <div class="table_left">  
                        <app-infochantier [site]="site"></app-infochantier>
                        <app-datachantier></app-datachantier>
                        <GraphicComponent class="graphmodule"></GraphicComponent>
                </div>
                <div class="table_right">
                            <DragdropComponent class="i"></DragdropComponent>
                            <TableComponent class="i"></TableComponent>   

                </div> 
            </div>
        </div>
<app-footer></app-footer>