<app-header></app-header>

   
    <div class="main">
        <div class="left">
            <h2 class="title" id="editableTitle" contenteditable="true">Touchez pour modifier le nom du projet</h2>
            <script src="script.ts"></script>
        <div class="table">
            <DragdropComponent></DragdropComponent>
        </div>
        <div class="tabledash">
            <TableComponent></TableComponent>   
        </div>
        </div>
        <div class="right">
            <div class="table_right_2">
                
            </div>

        </div>
            <GraphicComponent class="graphe"></GraphicComponent>
            
        </div>
    
    

<app-footer></app-footer>