<p-card class="tabledash" header="Tableau">
    <p-table [value]="link" [tableStyle]="{ 'min-width': '300px' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Prof</th>
                <th>Rt</th>
                <th>Rp</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr *ngFor="let item of gruData">
                <td>{{ item.property1 }}</td>
                <td>{{ item.property2 }}</td>
                <!-- Affiche les autres propriétés selon la structure de tes données -->
              </tr>
        </ng-template>
    </p-table>
<p-card>